@font-face {
  font-family: yoz;
  src: url("./yoz.woff");
}

@font-face {
  font-family: survives;
  src: url("./Survivant.woff");
}

html body {
  font-family: "survives", sans-serif;
  text-shadow: ".4px 0px 2px RGBA(233,227,201,1.00)";
}

strong {
  font-family: "survives", serif;
}

h3 {
  font-size: 2rem;
  font-family: "survives", sans-serif;
  color: RGBA(21, 54, 97, 1);
  text-shadow: 1px 0 0 #e6ed99, -1px 0 0 #e6ed99, 0 1px 0 #e6ed99,
    0 -1px 0 #e6ed99, 1px 1px #e6ed99, -1px -1px 0 #e6ed99, 1px -1px 0 #e6ed99,
    -1px 1px 0 #e6ed99;
}

h4 {
  font-family: "survives", sans-serif;
  font-size: 1.66rem;
  text-align: center;
}

a {
  color: RGBA(24, 34, 103, 1);
  background: RGBA(255, 251, 200, 1);
  padding: 10px;
}

a:hover {
  color: RGBA(255, 251, 200, 1);
  text-decoration: none;
  background: RGBA(24, 34, 103, 1);
}

.rt-thead {
  background: RGBA(23, 53, 95, 1) !important;
  color: RGBA(231, 226, 230, 1) !important;
  font-size: 14px !important;
  text-shadow: none;
}

.rt-tbody {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

.team {
  font-family: "survives";
}

.leader {
  background: linear-gradient(
    RGBA(178, 198, 230, 0.2),
    RGBA(255, 255, 255, 0.2)
  );
  border-radius: 20px;
  padding: 20px;
}

.summary {
  background: linear-gradient(
    RGBA(139, 132, 203, 0.2),
    RGBA(255, 255, 255, 0.2)
  );
  border-radius: 20px;
}

.eliminated {
  background: linear-gradient(
    RGBA(255, 255, 255, 0.2),
    RGBA(139, 132, 203, 0.1)
  );
  border-radius: 20px;
}

.rules {
  background: linear-gradient(
    RGBA(240, 231, 122, 0.2),
    RGBA(236, 230, 128, 0.1)
  );
  border-radius: 20px;
  padding: 50px;
}

.site-header {
  text-align: center;
  color: #dce3ec;
  text-shadow: 1px 0 0 #23305f, -1px 0 0 #23305f, 0 1px 0 #23305f,
    0 -1px 0 #23305f, 1px 1px #23305f, -1px -1px 0 #23305f, 1px -1px 0 #23305f,
    -1px 1px 0 #23305f;
  background: #f0e77a;
  border-radius: 50px;
  margin-top: 10px;
  padding: 25px;
  border: 3px solid #1d3965;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subhead {
  text-align: center;
  font-size: 1.2rem;
  grid-column: 2;
  grid-row: 3;
}

.header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% 50% 10%;
}

.site-name {
  line-height: 0.8;
}

.survivor-logo {
  grid-column: 1;
  grid-row: 2;
  padding-left: 10px;
}

.castaway {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 428px) {
  .survivor-logo {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .site-header {
    margin-left: 10%;
    margin-right: 10%;
  }
  .header {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.create-tribal {
  margin: 10px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-modal-subhead {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-link {
  color: unset;
  background: unset;
}

.header-link:hover {
  color: unset;
  background: unset;
}

.form {
  font-family: Arial, Helvetica, sans-serif;
}

.eliminated-pick {
  color: RGBA(178, 198, 230, 1)
}